.radioAnimation {
  background-color: red;
  animation: mymove 1.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}